input[type="number"] {
  caret-color: transparent;
}

.input-caption {
  padding-left: 8px;
  margin-bottom: 2px;
}

.input-box {
  background-color: white;
  padding-inline: var(--padding-block-sm);
  padding-block: 0px;
  border-radius: 16px;
  height: 57px;
  /* outline: none; */
}

.input-font {
  font-family: 'Markazi', sans-serif;
  font-weight: normal;
  font-size: 48px;
  color: var(--color-highlight-2);
}

.input-focus {
  outline: 2px solid var(--color-secondary-1);
}

.number-input-layout {
  display: flex;
  align-items: center;
}
.number-input-layout > button {
  background-color: transparent;
}
.number-input-decrementor, .number-input-incrementor {
  height: 100%;
}

.number-input {
  text-align: center;
  width: 100%;
  flex: 1;
}
.number-input::selection {
  /* background-color: transparent; */
}
.disable-pointer {
  cursor: default !important;
}