input[type="number"] {
  caret-color: transparent;
}

.input-caption {
  padding-left: 8px;
  margin-bottom: 3px;
}

.input-box {
  background-color: white;
  padding-inline: var(--padding-block-sm);
  padding-block: 0px;
  border-radius: 16px;
  height: 57px;
  align-content: center;
}

.input-font {
  font-family: 'Markazi', sans-serif;
  font-weight: normal;
  font-size: 48px;
  color: var(--color-highlight-2);
}

.input-focus {
  outline: 2px solid var(--color-secondary-1);
}

.number-input-layout {
  display: flex;
  align-items: center;
}
.number-input-layout > button {
  background-color: transparent;
}
.number-input-decrementor, .number-input-incrementor {
  height: 100%;
}

.number-input-container {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 44px;
}
.number-input {
  text-align: center;
  border-radius: 4px;
}
.number-input:focus {
  background-color: var(--color-text-highlight);
  color: white;
  /* color: var(--color-highlight-1); */
}
.number-input::selection {
  background-color: transparent;
}

.disable-pointer {
  cursor: default !important;
}

.radio-layout {
  display: flex;
  justify-content: space-around;
  outline: none;
}
.radio-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.radio-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-highlight-2);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-button-inner {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-highlight-2);
}