input[type="number"] {
  caret-color: transparent;
}

.input-caption {
  padding-left: 8px;
  margin-bottom: 3px;
}

.input-box {
  background-color: white;
  padding-inline: var(--padding-block-sm);
  padding-block: 0px;
  border-radius: 16px;
  height: 57px;
  align-content: center;
}

.input-font {
  font-family: 'Markazi', sans-serif;
  font-weight: normal;
  font-size: 48px;
  color: var(--color-highlight-2);
}

.input-placeholder {
  color: hsl(from var(--color-highlight-2) h s l / 0.3);
  user-select: none;
}

.input-focus {
  outline: 2px solid var(--color-secondary-1);
}

.number-input-layout {
  display: flex;
  align-items: center;
}
.number-input-layout > button {
  background-color: transparent;
}
.number-input-decrementor, .number-input-incrementor {
  height: 100%;
}

.number-input-container {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 44px;
}
.number-input {
  text-align: center;
  border-radius: 4px;
}
.number-input:focus {
  background-color: var(--color-text-highlight);
  color: white;
  /* color: var(--color-highlight-1); */
}
.number-input::selection {
  background-color: transparent;
}

.disable-pointer {
  cursor: default !important;
}

.radio-layout {
  display: flex;
  justify-content: space-around;
  outline: none;
}
.radio-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.radio-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-highlight-2);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-button-inner {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-highlight-2);
}

.input-calendar-base {
  cursor: pointer;
  position: relative;
}
.input-calendar {
  cursor: inherit;
  display: flex;
  justify-content: space-between;
}
.input-dropdown {
  cursor: default;
  border-radius: 16px;
  background: white;
  border: 2px solid var(--color-secondary-1);
  position: absolute;
  top: 100%;
  z-index: 1000;
  padding: 1rem;
}
.input-calendar-dropdown {
  width: 250px;
  border-radius: 0px 0px 16px 16px;
  border-top: none;
  right: 16px;
  margin-top: 2px;
}
.calendar-dropdown-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  padding-inline: 4px;
}
.calendar-day-label {
  font-weight: 700;
  font-size: 18px;
}
.calendar-month {
  margin-bottom: 4px;
}
.calendar-month-arrow {
  background-color: transparent;
}
.calendar-dropdown-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: repeat(6, 32px); */
  justify-items: center;
  align-items: center;
  gap: 4px;
}
.calendar-day {
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
  padding-block: 4px;
  border: 3px solid transparent;
  transition: 100ms;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: var(--color-highlight-2);
}
.calendar-day-light {
  border: 3px solid var(--color-secondary-2);
}
.calendar-day-light:hover {
  border: 3px solid var(--color-primary-2);
}
.calendar-day-light:active {
  border: 3px solid var(--color-primary-1);
}
.calendar-day-light-active {
  /*should be exactly the same as the above*/
  border: 3px solid var(--color-primary-1);
}
.calendar-day-heavy {
  background-color: var(--color-secondary-2);
}
.calendar-day-heavy:hover {
  background-color: var(--color-primary-2);
  /* color: var(--color-highlight-2); */
}
.calendar-day-heavy:active {
  background-color: var(--color-primary-1);
  color: var(--color-highlight-1);
}
.calendar-day-heavy-active {
  /*should be exactly the same as the above*/
  background-color: var(--color-primary-1);
  color: var(--color-highlight-1);
}
.calendar-day-heavy-active:hover {
  background-color: var(--color-primary-1);
}
/*--------------------------------------------------*/
.time-dropdown {
  background-color: white;
  border-radius: 16px;
  border: 2px solid var(--color-secondary-1);
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4,1fr);
}
.time-dropdown-item {
  border-radius: 16px;
  padding: .5rem;
  text-align: center;
}
.time-dropdown-item-inactive {
  background-color: var(--color-bg);
}
.time-dropdown-item-active {
  cursor: pointer;
  background-color: var(--color-secondary-2);
}
.time-dropdown-item-active:hover {
  background-color: var(--color-primary-2);
}
.time-dropdown-item-active:active {
  background-color: var(--color-primary-1);
  color: var(--color-highlight-1);
}
.time-dropdown-item-active-active {
  /*should be exactly the same as the above*/
  background-color: var(--color-primary-1);
  color: var(--color-highlight-1);
}