.five-col-layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.form-button-reg {
  grid-column: 1 / 3;
}

.form-button-cta {
  grid-column: 3 / 5;
}

@media (min-width: 1700px) {
  .form-button-reg {
    grid-column: 1;
  }
  .form-button-cta {
    grid-column: 2;
  }
}