:root {
   --circle-size: 24px;
}

.circle {
   width: var(--circle-size);
   height: var(--circle-size);
}

.circle-closed {
   border-radius: 50%;
   background-color: var(--color-highlight-1);
}

.circle-open {
   border-radius: 50%;
   /* background-color: var(--color-highlight-1); */
   background-color: transparent;
   border: 3px solid var(--color-highlight-1);
}

.bar {
   width: 25px;
   height: 3px;
   background-color: var(--color-highlight-1);
}

#reserve1-layout {
   padding-inline: var(--padding-inline);
   padding-block: var(--padding-block-md);
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(3, auto) 64px 77px;
   height: auto;
}

#input-nr-guests {
   grid-column: 1;
}

#input-seating {
   grid-column: 2 / span 2;
}

#input-date {
   grid-row: 2;
   grid-column: 1 / span 3;
}

#input-time {
   grid-row: 2;
   grid-column: 4 / span 2;
}

#input-occasion {
   grid-row: 3;
   grid-column: 1 / span 5;
}

#reserve1-layout-empty-space {
   grid-row: 4;
   grid-column: 1 / span 5;
}

#reserve1-cancel {
   grid-row: 5;
   grid-column: 1;
}

#reserve1-continue {
   grid-row: 5;
   grid-column: 2;
}