:root {
   --padding-inline: 12rem;
 
   --color-primary-1: #495e57;
   --color-primary-2: #f4ce14;
   --color-secondary-1: #ee9972;
   --color-secondary-2: #fbdabb;
   --color-highlight-1: #edefee;
   --color-highlight-2: #333333;
 }