:root {
  --padding-inline: 12rem;
  --padding-block-sm: 1.5rem;
  --padding-block-md: 32px;
  --padding-block-lg: 64px;

  --color-primary-1: #495e57;
  --color-primary-2: #f4ce14;
  --color-secondary-1: #ee9972;
  --color-secondary-2: #fbdabb;
  --color-highlight-1: #edefee;
  --color-highlight-2: #333333;
  --color-text-highlight: #3367D1;
  --color-mask: hsl(from var(--color-highlight-2) h s l / 0.5);
  --color-bg: hsl(from var(--color-highlight-2) h s l / 0.15);
}