:root {
  --padding-inline: 12rem;

  --color-primary-1: #495e57;
  --color-primary-2: #f4ce14;
  --color-secondary-1: #ee9972;
  --color-secondary-2: #fbdabb;
  --color-hightlight-1: #edefee;
  --color-hightlight-2: #333333;
}

/*----------DEFINE INLINE PADDING FOR MAIN SECTIONS-----------*/

@media (min-width: 807px) {
  .page-padding {
    padding-inline: calc(var(--padding-inline) / 2);
  }
  #hero-text {
    padding-right: 4rem;
  }
}

@media (min-width: 1124px) {
  /* header, main > section, footer { */
  .page-padding {
    padding-inline: var(--padding-inline);
  }
}

@media (min-width: 1308px) {
  #hero-text {
    padding-right: 8rem;
  }
}

/*----------GLOBAL----------*/

* {
  margin: 0px;
  padding: 0px;
}

html, body, #root {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--color-hightlight-1);
  color: var(--color-hightlight-2);
  font-family: 'Karla', sans-serif;
}

/*-----------FONTS------------*/

@font-face {
  font-family: Markazi;
  src: url('./fonts/Markazi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Karla;
  src: url('./fonts/Karla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*-----------ELEMENT STYLING-----------*/

h1 {
  font-family: 'Markazi';
  font-size: 64px;
  color: var(--color-primary-2);
}

h2 {
  font-family: 'Markazi';
  font-weight: normal;
  font-size: 40px;
  color: var(--color-hightlight-1);
}

h4 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: var(--color-hightlight-1);
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

p {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-hightlight-1);
}

button {
  cursor: pointer;
  border-radius: 16px;
  padding-block: 8px;
  width: 308px;

  font-family: 'Markazi';
  font-weight: normal;
  font-size: 40px;
  color: var(--color-hightlight-2);

  outline: none;
  border: none;
  box-shadow: none;

  transition-duration: 150ms;
}
button:active {
  transform: scale(0.97);
}

.cta-button {
  background-color: var(--color-primary-2);
  width: auto;
}
.cta-button:hover {
  background-color: var(--color-secondary-1);
}

.color-slate {
  color: var(--color-hightlight-1);
}
.color-charcoal {
  color: var(--color-hightlight-2);
}
.color-green {
  color: var(--color-primary-1);
}
.color-yellow {
  color: var(--color-primary-2);
}
.color-peach {
  color: var(--color-secondary-1);
}
.color-cream {
  color: var(--color-secondary-2);
}

.bg-color-green {
  background-color: var(--color-primary-1);
}

.space-block-64 {
  height: 64px;
}

.padding-block-sm {
  padding-block: 1.5rem;
}
.padding-block-md {
  padding-block: 32px;
}
.padding-block-lg {
  padding-block: 64px;
}

/*----------DEFINE VERTICAL LAYOUT-----------*/

#root {
  display: flex;
  flex-direction: column;
}

header {
  align-content: center;
}

main {
  flex: 1;
  /* overflow-y: auto; */
}

/*----------HEADER-----------*/

#header-links::before { /* create pseudo-element to create spacing to the left of the first <li> element */
  content: "";
}

header {
  display: flex;
  justify-content: space-evenly;
}

#header-nav {
  flex: 1;
  align-content: center;
}

#header-links {
  display: flex;
  justify-content: space-between;
}

/*----------MAIN: HERO-----------*/

main {
  display: flex;
  flex-direction: column;
}

#hero {
  background-color: var(--color-primary-1);
  display: flex;
  gap: 4rem;
}

#hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

#hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#hero-title h1 {
  line-height: 75%;
}

#hero-left, #hero-img {
  flex: 1;
}

#hero-img > img {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

/*----------MAIN: SPECIALS-----------*/

#specials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 77px auto;
  gap: 1rem;
  height: auto;
}

.special {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: white;
  flex: 1 1 300px;
  min-width: 0;
}

.special-info {
  padding: 1.5rem;
}

/*----------MAIN: TESTIMONIALS-----------*/

#testimonials-display {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
}
.testimonial {
  background-color: white;
  min-height: 100px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

/*----------MAIN: ABOUT-----------*/

#about {
  display: flex;
  gap: 2rem;
}

/*----------FOOTER-----------*/

footer {
  background-color: var(--color-primary-1);
  color: var(--color-hightlight-1);
  display: flex;
  justify-content: space-between;
}

footer img {
  padding-top: 4px;
  height: 196px;
}

footer section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer li {
  line-height: 1.5rem;
}